@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

.container {
  padding-inline: 55px;
  max-width: 1280px;
  margin-inline: auto;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-mobile {
    padding-inline: 20px;
  }
}

@mixin page-grid {
  --columns: 12;

  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
  }

  @include on-mobile {
    --columns: 2;

    column-gap: 20px;
  }
}
